# EDA

In [1]:
import os
import pandas as pd
import sqlalchemy

## DB Connection

In [2]:
user = os.getenv("POSTGRES_USER")
password = os.getenv("POSTGRES_PASSWORD")
server = os.getenv("POSTGRES_SERVER")
port = os.getenv("POSTGRES_PORT")
db = os.getenv("POSTGRES_DB")

database_uri = f"postgresql://{user}:{password}@{server}:{port}/{db}"

engine = sqlalchemy.create_engine(database_uri)

## Tables

In [3]:
balance_movements = pd.read_sql("SELECT * FROM balance_movements;", con=engine, index_col="id")
receiving_partner_balances = pd.read_sql("SELECT * FROM receiving_partner_balances;", con=engine, index_col="id")

In [4]:
balance_movements.head()

,sending_partner_id,receiving_partner_id,balance_movement_amount,balance_movement_date,balance_id
id,,,,,
1,329,415,1520.7484,2022-01-01,120
2,215,415,3106.0535,2022-01-01,120
3,286,415,29097.7593,2022-01-01,120
4,212,415,15372.1173,2022-01-01,120
5,225,415,14170.9800,2022-01-01,120

In [5]:
balance_movements.describe()

,sending_partner_id,receiving_partner_id,balance_movement_amount,balance_movement_date,balance_id
count,405.000000,405.000000,405.000000,405,405.000000
mean,264.044444,422.992593,9932.078885,2022-01-16 08:35:33.333333504,128.955556
min,181.000000,415.000000,-54.386000,2022-01-01 00:00:00,120.000000
25%,214.000000,415.000000,624.004000,2022-01-08 00:00:00,120.000000
50%,286.000000,415.000000,3497.612100,2022-01-16 00:00:00,120.000000
75%,321.000000,415.000000,11534.853300,2022-01-24 00:00:00,120.000000
max,348.000000,498.000000,140708.036200,2022-02-01 00:00:00,213.000000
std,53.742953,24.515048,16907.664205,NaN,27.468668

There are also negative balances

In [6]:
balance_movements.loc[balance_movements["balance_movement_amount"] < 0]

,sending_partner_id,receiving_partner_id,balance_movement_amount,balance_movement_date,balance_id
id,,,,,
377,319,498,-0.002,2022-01-10,213
403,327,498,-54.386,2022-01-31,213

In [7]:
balance_movements.info()

<class 'pandas.core.frame.DataFrame'>
Index: 405 entries, 1 to 405
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   sending_partner_id       405 non-null    int64
 1   receiving_partner_id     405 non-null    int64
 2   balance_movement_amount  405 non-null    float64
 3   balance_movement_date    405 non-null    datetime64[ns]
 4   balance_id               405 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 19.0 KB

In [8]:
receiving_partner_balances.head()

,balance_id,available_balance,balance_snapshot_date,creation_date
id,,,,
1,120,221411.0430,2022-01-06,2023-07-29 13:00:37.590645
2,120,163423.0976,2022-01-13,2023-07-29 13:00:37.590645
3,120,478599.2280,2022-01-15,2023-07-29 13:00:37.590645
4,120,32474.3252,2022-01-18,2023-07-29 13:00:37.590645
5,120,307843.9036,2022-01-20,2023-07-29 13:00:37.590645

In [9]:
receiving_partner_balances.describe()

,balance_id,available_balance,balance_snapshot_date,creation_date
count,65.000000,65.000000,65,65
mean,167.215385,120569.631582,2022-01-16 18:05:32.307692288,2023-07-29 23:40:28.456662784
min,120.000000,-44874.724500,2022-01-01 00:00:00,2023-07-29 13:00:37.590645
25%,120.000000,2470.108100,2022-01-09 00:00:00,2023-07-29 13:00:37.590644992
50%,213.000000,8603.673100,2022-01-17 00:00:00,2023-07-29 13:00:37.590644992
75%,213.000000,221411.043000,2022-01-25 00:00:00,2023-07-29 13:00:37.590644992
max,213.000000,478599.228000,2022-02-02 00:00:00,2023-08-27 10:10:43.881802
std,46.856327,152543.660056,NaN,NaN

In [10]:
receiving_partner_balances.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65 entries, 1 to 75
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   balance_id             65 non-null     int64
 1   available_balance      65 non-null     float64
 2   balance_snapshot_date  65 non-null     datetime64[ns]
 3   creation_date          65 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1)
memory usage: 2.5 KB

In [11]:
receiving_partner_balances["balance_id"].unique()

array([120, 213])

In [12]:
balance_movements["balance_id"].unique()

array([120, 213])